{% extends 'base.html' %} {% block content %}
<div class="bg-custom-image bg-cover bg-center h-screen container mx-auto">
  <div class="backdrop-blur-lg h-full pt-[120px]">
    <div
      id="sidebar"
      class="sidebar absolute top-0 pt-[120px] px-4 pb-7 bg-black/7 backdrop-blur-4xl text-white -translate-y-full transition-transform duration-300 ease-in-out flex items-end lg:w-[500px] w-full mx-auto z-30"
    >
      <div class="head flex w-full p-5 items-en bg-black/80">
        <ul class="text-xl flex flex-col gap-5 flex-1">
          <li><a href="/passbook" class="block text-white">passbook</a></li>
          <li><a href="/deposit" class="block text-white">Deposit</a></li>
          <li><a href="/profile" class="block text-white">Profile</a></li>
        </ul>

        <ul class="text-xl flex flex-col w-full gap-3 flex-1">
          <li>
            <a
              href="/logout"
              class="rounded flex items-center justify-center py-3 px-3 hover:bg-pink-700 bg-pink-500 text-white hover:text-white transition w-full"
            >
              Logout
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="flex justify-between items-center mb-3 py-2 px-4">
      <div
        class="head max-w-[250px] min-w-[120px] flex-col flex justify-end p-4 gap-4"
      >
        <div class="flex justify-between">
          <i class="fas fa-wallet text-4xl text-blue-400"></i>
          <p>{{wallet.balance}}</p>
        </div>
        <p class="text-white">Balance</p>
      </div>
      <div
        class="head max-w-[280px] min-w-[120px] flex flex-col justify-between p-4 gap-4 items-cente"
      >
        <!-- <i class="fas fa-money-bill-wave text-4xl text-green-300"></i> -->
        <div class="flex justify-between">
          <i class="fas fa-coins text-4xl text-green-300"></i>
          <p>{{wallet.totalWithdrawal}}</p>
        </div>
        <p class="text-white">withdrawl</p>
      </div>
    </div>

    <div class="flex items-center justify-center px-4 mb-10">
      <div class="HomeCon w-full px-3 pb-4">
        <h5 class="text-2xl font-bold py-3">Games</h5>

        <div class="grid grid-cols-2 gap-3">
          <!-- Tab for 2 Players -->
          {% for item in category %}
          <a
            href="/price/{{item['_id']['\u0024oid']}}"
            class="flex place-items-center justify-center rounded-lg text-lg font-bold"
          >
            <img class="w-full h-full" src="{{ item.image }}" />
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
