<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />

    <meta charset="UTF-8" />
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Beautiful Table Design</title>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            backgroundImage: {
              "custom-image": "url('../static/ludoBG.jpg')",
            },
          },
        },
      };
    </script>
    <style>
      .HomeCon {
        display: flex;
        flex-direction: column;
        padding: 30px;
        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
        border-radius: 20px;
        box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
        /* text-align: center; */
        color: #fff;
      }
    </style>
  </head>

  <body
    class="bg-black font-poppins text-white lg:w-[500px] w-full mx-auto bg-custom-image bg-cover bg-center h-screen"
  >
    <div class="bg-custom-image bg-cover bg-center h-screen container mx-auto">
      <div class="PassBook py-5 px-4 backdrop-blur-lg h-screen">
        <h1 class="uppercase text-center text-2xl font-bold HomeCon">
          PassBook
        </h1>
        {% for item in items %}
        <div class="grid grid-cols-[100px_1fr] mt-7 HomeCon py-4 !px-4">
          <div class="flex flex-col items-start">
            <p>icon</p>
            <p>{{item.cre_date[:10]}}</p>
            <p>
              {{ item.cre_date[11:16] }} {{ 'PM' if item.cre_date[11:13]|int >
              12 else 'AM' }}
            </p>
          </div>
          <div class="flex items-center justify-center flex-col">
            <p class="lg:text-lg font-semibold text-center">{{item.title}}</p>
            <p class="text-white font-bold lg:text-xl">{{item.amount}}</p>
          </div>
          <!-- <div class="flex flex-col items-end justify-center">
          </div> -->
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
